
@import url("my-animations.css");

body {

    width: 1280px;

    height: 720px;

    background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%);

    color: white;

    overflow: hidden !important;

    margin: 0 auto;

}

.answer.correct-answer-add {

    -webkit-animation: 3s correct;

    animation: 3s correct;

}

#question-splash.new-question-add {

    -webkit-animation: 3s bounceIn;

    animation: 3s bounceIn;

}

#question-splash.new-question-remove {

    -webkit-animation: 1s hide;

    animation: 1s hide;

}

.correct-add {

    -webkit-animation: 3s correct-player;

    animation: 3s correct-player;

}

.my-repeat-animation.ng-enter {

    -webkit-animation: 0.5s fadeIn;

    animation: 0.5s fadeIn;

}

.my-repeat-animation.ng-leave {

    -webkit-animation: 0.5s fadeOut;

    animation: 0.5s fadeOut;

}

.my-repeat-animation-winner.ng-enter {

    -webkit-animation: 3s fadeIn;

    animation: 3s fadeIn;

}

.my-repeat-animation-winner.ng-leave {

    -webkit-animation: 3s fadeOut;

    animation: 3s fadeOut;

}

.answer.ng-hide-add {

    -webkit-animation:0.5s hide;

    animation:0.5s hide;

}

@keyframes hide {

    from {

        opacity:1;

    }

    to {

        opacity:0;

    }

}

@-webkit-keyframes hide {

    from {

        opacity:1;

    }

    to {

        opacity:0;

    }

}

.answer.ng-hide-remove {

    -webkit-animation:0.5s show;

    animation:0.5s show;

}

@keyframes show {

    from {

        opacity:0;

    }

    to {

        opacity:1;

    }

}

@-webkit-keyframes show {

    from {

        opacity:0;

    }

    to {

        opacity:1;

    }

}

/* === Helpers === */

.full-size {

    width: 100%;

    height: 100%;

}

.tan-box {

    box-shadow: 5px 5px 10px 0px #000;

    background: rgba(229, 229, 229, 1);

    color: black;

}

.title-relative {

    position:relative;

    margin: 0 auto;

}

.big-shadow-font {

    font-size: 35px;

    text-shadow: 2px 2px 5px #000;

}

.question-popup {

    font-size: 296px;

    line-height: 296px;

    width: 20%;

    top: 50%;

    height: 300px;

    margin-top: -148px;

    left: 40%;

    position: absolute;

    z-index: 1;

    text-align: center;

    opacity: 0;

    text-shadow: 2px 2px 5px #000;

    font-family: goofy;

}

/* === Title View === */

.title-text {

    height: 100px;

    margin-top: 10%;

    font-family: goofy;

    text-align: center;

}

/* === Lobby View === */

.lobby-text {

    margin-top: 25%;

    text-align: center;

}

/* === Quiz View === */

.quiz-left {

    width: 70%;

    height: 85%;

    float: left;

}

.quiz-right {

    width: 30%;

    height: 85%;

    float: left;

}

/* Header */

.header-container {

    height: 15%;

    margin-left: 5%;

    width: 90%;

}

.header-title {

    width: 50%;

    float: left;

}

.header-timer {

    height: 100px;

    width: 100px;

    font-size: 45px;

    line-height: 75px;

    text-align: center;

    border: 10px solid black;

    border-radius: 50%;

    margin-left: 35%;
}

/* Question */

.question-container {

    height: 40%;

    margin: 5%;

    padding: 15px;

    background-color: #117095;

    border-radius:25px;

}

.question {

    font-size: 25px;

    color: #FFFFFF;

}

/* Answers */

.answers-container {

    height: 45%;

}

.answer {

    width: 40%;

    font-size: 25px;

    margin-top: 2%;

    margin-bottom: 2%;

    margin-left: 5%;

    margin-right: 5%;

    float: left;

    padding: 2%;

    text-align: center;

    color: #FFFFFF;

    background-color: #FF9C30;

}

/* Scoreboard */

.scoreboard-container {

    height: 90%;

    margin: 5%;

    padding: 15px;

    background-color: #FFFF00;

}

.scoreboard-title {

    font-size: 35px;

    text-align: center;

    font-family: 'Monaco';

    background-color: #FF6666;

    margin-bottom: 6%;

}

.scoreboard-score {

    font-size: 25px;

    text-align: center;

}

.scoreboard-name {

    font-size: 25px;

    text-align: center;

}

/* === Winner View === */

.winner-text {

    margin-top: 10%;

    text-align: center;

    font-size: 35px;

    font-family: 'BOLD';

    color: #FFFF00;

    text-shadow: 2px 2px 1px #FF944D;

}

.winner-detail {

    text-align: center;

    font-size: 25px;

    color: #FFFFFF;

    font-weight: bold;

    background-color: #FF6666;

}

.winner {
    font-family: 'congrats';

    font-size: 50px;
}

@font-face {

    font-family:'goofy';

    /*a name to be used later*/

    src: url('../fonts/DimWitRight.ttf');

    /*URL to font*/

}

@font-face {

    font-family: 'congrats';

    src: url('../fonts/BATMAN.TTF');
}
